# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Database
*.db
db/

# IDE
.vscode/
.idea/

# macOS
.DS_Store